cvxpy==1.6.5
imbalanced_learn==0.13.0
matplotlib==3.10.3
networkx==3.4.2
neuroHarmonize==2.4.5
neuroHarmonize==2.4.5
nilearn==0.11.1
numpy==2.2.6
pandas==2.2.3
pygsp==0.5.1
python-dotenv==1.1.0
scikit_learn==1.6.1
scipy==1.15.3
seaborn==0.13.2
shap==0.47.2
statsmodels==0.14.4
tqdm==4.67.1
wisardpkg==1.6.3
